@font-face{
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"),local(PTSans-Italic),url(//fonts.gstatic.com/s/ptsans/v12/jizYRExUiTo99u79D0e0ycmM.eot?#) format("eot"),url(//fonts.gstatic.com/s/ptsans/v12/jizYRExUiTo99u79D0e0x8mI.woff2) format("woff2"),url(//fonts.gstatic.com/s/ptsans/v12/jizYRExUiTo99u79D0e0ycmO.woff) format("woff");

}
@font-face{
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"),local(PTSans-BoldItalic),url(//fonts.gstatic.com/s/ptsans/v12/jizdRExUiTo99u79D0e8fOydIRUZ.eot?#) format("eot"),url(//fonts.gstatic.com/s/ptsans/v12/jizdRExUiTo99u79D0e8fOydLxUd.woff2) format("woff2"),url(//fonts.gstatic.com/s/ptsans/v12/jizdRExUiTo99u79D0e8fOydIRUb.woff) format("woff");

}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"),local(PTSans-Regular),url(//fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0yEwQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0KExQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/ptsans/v12/jizaRExUiTo99u79D0yEww.woff) format("woff");

}
@font-face{
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"),local(PTSans-Bold),url(//fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0OCtKQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0O6tLQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/ptsans/v12/jizfRExUiTo99u79B_mh0OCtKw.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"),local(OpenSans-LightItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV9hlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV9hrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWyV9hlIqU.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"),local(OpenSans-Italic),url(//fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Xdck.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Zdc0.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem6YaGs126MiZpBA-UFUK0Xdcs.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans SemiBold Italic"),local(OpenSans-SemiBoldItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKXGUdhlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKXGUdhrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKXGUdhlIqU.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"),local(OpenSans-BoldItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUNhlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUNhrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKWiUNhlIqU.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans ExtraBold Italic"),local(OpenSans-ExtraBoldItalic),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKW-U9hlIqc.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKW-U9hrIqM.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/memnYaGs126MiZpBA-UFUKW-U9hlIqU.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"),local(OpenSans-Light),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXOhv.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"),local(OpenSans-Regular),url(//fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50f.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50d.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"),local(OpenSans-SemiBold),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOXOhv.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"),local(OpenSans-Bold),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOXOhv.woff) format("woff");

}
@font-face{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"),local(OpenSans-ExtraBold),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOXOht.eot?#) format("eot"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2) format("woff2"),url(//fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOXOhv.woff) format("woff");

}
body{
  background: #dcdcdc;

}
.container{
  max-width: 980px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
.header_row{
  padding: 45px 0 50px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.header_row .header_row-item .logo img{
        max-width: 318px;
        width: 100%;
      }
.header_row .header_row-item .item_descr{
        padding-top: 25px;
        font-size: 17px;
        font-family: "Open Sans",sans-serif;
        color: rgb(119, 119, 119);
        line-height: 22px;
        text-align: center;
        display: block;
    }
.header_row .header_row-item .item_phone_list a{
          font-size: 31px;
          font-family: "Open Sans",sans-serif;
          color: rgb(118, 118, 118);
          line-height: 1.484;
          text-decoration: none;
          display: block;
          font-weight: 800;
          text-align: right;
      }
.header_menu{
  background: #777777;
}
.header_menu nav ul{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
      padding: 0;
      margin: 0;
    }
.header_menu nav ul li{
        list-style: none;
      }
.header_menu nav ul li:last-child a:after{
              display: none;
            }
.header_menu nav ul li a{
          padding: 20px 16px;
          display: block;
          box-sizing: border-box;
          text-decoration: none;
          position: relative;
          font-size: 18px;
          font-family: "Open Sans",sans-serif;
          color: rgb(255, 255, 255);
          }
.header_menu nav ul li a:hover{
            text-decoration: underline;
          }
.header_menu nav ul li a:after{
            content: '';
            display: block;
            width: 1px;
            height: 20px;
            background: #fff;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
          }
section.banner_section{
  margin-bottom: 50px;
}
section.banner_section .item img{
      width: 100%;
    }
.content_section .content_row{
      display: grid;
      grid-template-columns: 33.33% 1fr;
      grid-gap: 60px;
      gap: 60px;
  }
.content_section .content_row .content_news_list{
     width: 100%;
      background: #767676;
      padding: 20px 34px 30px 34px;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
.content_section .content_row .content_news_list h2{
        font-size: 40px;
        font-family: "PT Sans",sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
      }
.content_section .content_row .content_news_list .news_list-item{
        font-size: 14px;
        font-family: "Open Sans",sans-serif;
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: 300;
        text-decoration: none;
        display: block;

      }
.content_section .content_row .content_news_list .news_list-item .item-date{
          font-style: italic;
        }
.content_section .content_row .content_news_list .news_list-item--link{
        font-family: "Open Sans",sans-serif;
        font-style: normal;
        color: rgb(255, 255, 255);
        font-weight: 300;
        display: block;
        text-align: right;
      }
.content_section .content_row .content_text h1{
        font-size: 33px;
        font-family: "Open Sans",sans-serif;
        color: rgb(118, 118, 118);
      }
.content_section .content_row .content_text p{
        margin-bottom: 30px;
        font-family: "Open Sans",sans-serif;
        color: rgb(118, 118, 118);
        font-size: 14px;
        line-height: 22px;
      }
.content_section .content_row .content_text .content_text-about h2{
          font-size: 24px;
          font-family: "Open Sans",sans-serif;
          color: rgb(118, 118, 118);
          margin-bottom: 40px;
        }
.content_section .content_row .content_text .content_text-about .content_text-about_list{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 54px;
          gap: 54px;
        }
.content_section .content_row .content_text .content_text-about .content_text-about_list .about_list-item{
            font-size: 14px;
            font-family: "Open Sans",sans-serif;
            color: rgb(118, 118, 118);
            line-height: 22px;
          }
.content_section .content_row .content_text .content_text-about .content_text-about_list .about_list-item .item_title{
              font-size: 14px;
              font-family: "Open Sans",sans-serif;
              color: rgb(118, 118, 118);
              font-weight: bold;
              margin-bottom: 35px;
            }
footer{
  background: #767676;
  padding: 50px 0;
  margin-top: 195px;
  box-sizing: border-box;
}
footer .footer_row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
footer .footer_row .footer-item{
      font-size: 14px;
      font-family: "Open Sans",sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.571;
    }
footer .footer_row .footer-item ul{
        margin: 0;
        padding: 0;
      }
footer .footer_row .footer-item ul li{
          list-style: none;
        }
footer .footer_row .footer-item ul li a{
            font-size: 14px;
            font-family: "Open Sans",sans-serif;
            color: rgb(255, 255, 255);
            text-decoration: underline;
          }
footer .footer_row a{
      display: block;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }



