body{
  background: #dcdcdc;

}
.container{
  max-width: 980px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.header_row{
  padding: 45px 0 50px 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .header_row-item{
    .logo{
      img{
        max-width: 318px;
        width: 100%;
      }
    }
    .item_descr{
        padding-top: 25px;
        font-size: 17px;
        font-family: "Open Sans",sans-serif;
        color: rgb(119, 119, 119);
        line-height: 22px;
        text-align: center;
        display: block;
    }
    .item_phone_list{
      a{
          font-size: 31px;
          font-family: "Open Sans",sans-serif;
          color: rgb(118, 118, 118);
          line-height: 1.484;
          text-decoration: none;
          display: block;
          font-weight: 800;
          text-align: right;
      }
    }
  }

}

.header_menu{
  background: #777777;
  nav{
    ul{
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: center;
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        &:last-child{
          a{
            &:after{
              display: none;
            }
          }
        }
        a{
          padding: 20px 16px;
          display: block;
          box-sizing: border-box;
          text-decoration: none;
          position: relative;
          font-size: 18px;
          font-family: "Open Sans",sans-serif;
          color: rgb(255, 255, 255);
          &:hover{
            text-decoration: underline;
          }
          &:after{
            content: '';
            display: block;
            width: 1px;
            height: 20px;
            background: #fff;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
          }
          }
      }
    }
  }
}

section.banner_section{
  margin-bottom: 50px;
  .item{
    img{
      width: 100%;
    }
  }
}

.content_section{
  .content_row{
      display: grid;
      grid-template-columns: 33.33% 1fr;
      gap: 60px;
    .content_news_list{
     width: 100%;
      background: #767676;
      padding: 20px 34px 30px 34px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 30px;
      h2{
        font-size: 40px;
        font-family: "PT Sans",sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
      }
      .news_list-item{
        font-size: 14px;
        font-family: "Open Sans",sans-serif;
        color: rgb(255, 255, 255);
        font-style: normal;
        font-weight: 300;
        text-decoration: none;
        display: block;
        .item-date{
          font-style: italic;
        }

      }
      .news_list-item--link{
        font-family: "Open Sans",sans-serif;
        font-style: normal;
        color: rgb(255, 255, 255);
        font-weight: 300;
        display: block;
        text-align: right;
      }
    }
    .content_text{
      h1{
        font-size: 33px;
        font-family: "Open Sans",sans-serif;
        color: rgb(118, 118, 118);
      }
      p{
        margin-bottom: 30px;
        font-family: "Open Sans",sans-serif;
        color: rgb(118, 118, 118);
        font-size: 14px;
        line-height: 22px;
      }
      .content_text-about{
        h2{
          font-size: 24px;
          font-family: "Open Sans",sans-serif;
          color: rgb(118, 118, 118);
          margin-bottom: 40px;
        }
        .content_text-about_list{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 54px;
          .about_list-item{
            font-size: 14px;
            font-family: "Open Sans",sans-serif;
            color: rgb(118, 118, 118);
            line-height: 22px;
            .item_title{
              font-size: 14px;
              font-family: "Open Sans",sans-serif;
              color: rgb(118, 118, 118);
              font-weight: bold;
              margin-bottom: 35px;
            }
          }
        }
      }
    }
  }
}

footer{
  background: #767676;
  padding: 50px 0;
  margin-top: 195px;
  box-sizing: border-box;
  .footer_row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .footer-item{
      font-size: 14px;
      font-family: "Open Sans",sans-serif;
      color: rgb(255, 255, 255);
      line-height: 1.571;
      ul{
        margin: 0;
        padding: 0;
        li{
          list-style: none;
          a{
            font-size: 14px;
            font-family: "Open Sans",sans-serif;
            color: rgb(255, 255, 255);
            text-decoration: underline;
          }
        }
      }
    }
    a{
      display: block;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }
}



